@mixin title() {
    display: flex;
    justify-content: space-between;
    padding : {
        bottom : 20px;
    }
    a{
        height: 32px;
        padding: 4px 12px;
        border: 1px solid #4877F8;
        border-radius: 16px;
        text-decoration: none;
        color : #4877F8;
        &:hover{
            text-decoration: none;
        }
    }
    font: {
        family : 'Montserrat', sans-serif;
    }
    h3{
        margin: 0px;
    }
}
.room{
    &-new{
        background-color: #fff;
        padding: {
            top:20px;
            left:20px;
            right: 20px;
        }
        &-title{
            @include title();
        }
        &-content{
            &:last-child{
                border-bottom:none;
            }
            padding: {
                top:15px;
                bottom:15px;
            }
            border: {
                bottom: 1px solid #CDCDCD;
            }
            a{
                display: flex;
                text-decoration: none;
                &:hover{
                    text-decoration: none;
                }
                .thumb{
                    width: 30%;
                    img{
                        width: 100%;
                        height: 150px;
                    }
                }
                .info{
                    width: 70%;
                    padding: {
                        left: 10px;
                    }
                    h3{
                        margin: 0px;
                        color : #000000;
                        font: {
                            family : 'Open Sans',sans-serif;
                            size: 20px;
                        }
                        padding: {
                            bottom: 5px;
                        }
                    }
                    &-main{
                        display: flex;
                        justify-content: space-between;
                        color:#666666;
                        font: {
                            family : 'Open Sans',sans-serif;
                        }
                        &-text{
                            line-height: 30px;
                            font: {
                                size : 15px;
                            }
                            span{
                                padding: {
                                    left: 8px;
                                }
                            }
                            .fa-ruler{
                                margin-left: 20px;
                            }
                        }
                        &-price{
                            padding: {
                                top:10px;
                            }
                            text-align: center;
                            p:first-child{
                                color:red;
                                font: {
                                    weight: bold;
                                    size : 24px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    &-post{
        background: #fff;
        padding: {
            top:15px;
            left:15px;
            right: 15px;
        }
        &-title{
            @include title();
            padding-bottom:20px ;
        }
        &-content{
            padding: {
                top:15px;
                bottom:15px;
            }
            &:last-child{
                border-bottom: none;
            }
            border: {
                bottom:1px solid #CDCDCD;
            }
            &-user {
                display: flex;
                img{
                    border-radius: 50px;
                    border:1px solid #eee;
                }
                h5{
                    padding: {
                        left: 30px;
                    }
                    line-height: 18px;
                    font: {
                        family: 'Open Sans', sans-serif;
                        weight : bold;
                        size : 18px;
                    }
                }
            }
            &-nd{
                font: {
                    family: 'Open Sans', sans-serif;
                    size : 16px;
                }
                padding: {
                    top: 10px;
                    right: 10px;
                    left: 10px;
                }
            }
        }
    }
    &-detail{  
        &-df{
            background-color: #fff;
            padding: {
                top:10px;
                left: 10px;
            }
            &-map{
                padding: {
                    left: 20px;
                    right:20px;
                }
                img{
                    width: 100%;
                }
            }
            &-utility{
                h4{
                    font: {
                        family: 'Montserrat', sans-serif;
                        weight:bold;
                        size: 20px;
                    }
                    border-radius: 8px;
                    margin: {
                        top:15px;
                    }
                    background-color: #F6F7F9;
                    padding: {
                        top:10px;
                        left:10px;
                        bottom: 10px;
                    }
                    i{
                        padding : {
                            right: 10px;
                        }
                    }
                }
                .col-md-4 {
                    p{
                        font-size: 16px;
                        color: #333333;
                        letter-spacing: 0;
                        line-height: 24px;
                        margin-left: 8px;
                        i{
                            color: rgb(102, 102, 102);
                            font-size: 24px;
                            margin-right: 12px;
                        }
                    }
                }
            }
            &-info{
                h4{
                    font: {
                        family: 'Montserrat', sans-serif;
                        weight:bold;
                        size: 20px;
                    }
                    border-radius: 8px;
                    margin: {
                        top:15px;
                    }
                    background-color: #F6F7F9;
                    padding: {
                        top:10px;
                        left:10px;
                        bottom: 10px;
                    }
                    i{
                        padding : {
                            right: 10px;
                        }
                    }
                }
                .col-md-3 {
                    margin: {
                        bottom: 15px;
                    }
                    p:first-child{
                        margin: 0;
                        font-family: 'Montserrat', sans-serif;
                        font-size: 12px;
                        color: #666666;
                        letter-spacing: 0;
                        text-transform: uppercase;
                    }
                    p:last-child{
                        margin: 0;
                        font-size: 16px;
                        color: #333333;
                        letter-spacing: 0;
                        line-height: 24px;
                    }
                }
                .col-md-12 {
                    p:first-child{
                        margin: 0;
                        font-family: 'Montserrat', sans-serif;
                        font-size: 12px;
                        color: #666666;
                        letter-spacing: 0;
                        text-transform: uppercase;
                    }
                    p:last-child{
                        margin: 0;
                        font-size: 16px;
                        color: #333333;
                        letter-spacing: 0;
                        line-height: 24px;
                    }
                }
            }
            &-description{
                h4{
                    font: {
                        family: 'Montserrat', sans-serif;
                        weight:bold;
                        size: 20px;
                    }
                    border-radius: 8px;
                    margin: {
                        top:15px;
                    }
                    background-color: #F6F7F9;
                    padding: {
                        top:10px;
                        left:10px;
                        bottom: 10px;
                    }
                    i{
                        padding : {
                            right: 10px;
                        }
                    }
                }
            }
        }
        &-us{
            background-color: #fff;
            &-user{
                img{
                    margin: 0px auto;
                    border-radius: 50%;
                    margin: 14px 12px;
                }
                .col-md-8{
                    padding-right: 0px;
                    h5{
                        font: {
                            family : 'Montserrat', sans-serif;
                            weight:bold;
                        }
                    }
                    p{
                        font: {
                            family : 'Open Sans', sans-serif;
                        }
                       
                    }
                }
                .col-md-12{
                    a{
                        font-weight: bold !important;
                        font-size: 14px;
                        color: #fff;
                        background-color: #003352;
                        border-color: #003352;
                        display: block;
                        width: 100%;
                        padding-left: 0;
                        padding-right: 0;
                        display: inline-block;
                        margin-bottom: 0;
                        font-weight: 400;
                        text-align: center;
                        cursor: pointer;
                        background-image: none;
                        border: 1px solid transparent;
                        white-space: nowrap;
                        padding: 6px 12px;
                        font-size: 14px;
                        line-height: 1.42857143;
                        border-radius: 4px;
                        -webkit-user-select: none;
                        -moz-user-select: none;
                        -ms-user-select: none;
                        user-select: none;
                    }
                }
            }
        }
    }
}