.menu {
    padding: {
        top : 45px;
        bottom: 5px;
    }
    
}
.menu-top {
    ul {
        padding: {
            top:8px;
            bottom: 8px;
        }
        li {
            list-style: none;
            display: inline-block;
            a{
                text-decoration: none;
                color:#fff;
                font: {
                    family: 'Open Sans', sans-serif;
                    size:15px;
                }
                margin: {
                    right: 10px;
                }
            }
        }
    }
}