.menu {
  padding-top: 45px;
  padding-bottom: 5px; }

.menu-top ul {
  padding-top: 8px;
  padding-bottom: 8px; }
  .menu-top ul li {
    list-style: none;
    display: inline-block; }
    .menu-top ul li a {
      text-decoration: none;
      color: #fff;
      font-family: 'Open Sans', sans-serif;
      font-size: 15px;
      margin-right: 10px; }

.breadcrumbs-link {
  background-color: #fff;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px; }

.breadcrumbs ul li {
  display: inline-block;
  font-family: 'Open Sans', sans-serif; }

.breadcrumbs ul li:after {
  content: "/\00a0";
  padding: 0 5px;
  color: #ccc; }

.breadcrumbs ul li:last-child:after {
  content: "/\00a0";
  padding: 0 8px;
  color: #fff; }

header .top {
  background-color: #20274d;
  height: 40px;
  position: fixed;
  width: 100%;
  z-index: 999; }
  header .top-ref {
    align-items: center;
    line-height: 40px; }
    header .top-ref a {
      font-family: 'Open Sans', sans-serif;
      font-size: 16px;
      color: #fff;
      text-decoration: none; }
      header .top-ref a:hover {
        color: #fff;
        text-decoration: none; }

header .menu-mobile {
  background-color: #fff;
  position: fixed;
  top: 40px;
  width: 100%;
  opacity: 0;
  visibility: hidden;
  transition: 0.5s;
  padding-top: 10px;
  padding-bottom: 10px; }

header .menu-mobile-form input[type=text] {
  position: relative;
  border: 1px solid #eee;
  padding-left: 20px;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  height: 50px;
  border-radius: 50px;
  width: 100%; }
  header .menu-mobile-form input[type=text]:focus {
    border: none;
    outline: none; }

header .menu-mobile-form button {
  position: absolute;
  right: 18px;
  height: 45px;
  border-radius: 50px;
  width: 45px;
  border: none;
  bottom: 2px;
  background-color: #4877F8; }
  header .menu-mobile-form button .fa-search {
    color: #fff;
    font-size: 18px; }

header .mobie {
  opacity: 1;
  visibility: visible;
  z-index: 999; }

.banner {
  background-image: url("../../image/banner.png");
  background-size: cover;
  padding-bottom: 10%;
  padding-top: 3%; }
  .banner-menu {
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 18px; }
    .banner-menu a {
      text-decoration: none;
      color: #fff; }
      .banner-menu a:hover {
        text-decoration: none;
        color: #fff; }
    .banner-menu ul {
      display: flex;
      justify-content: flex-end; }
    .banner-menu ul li {
      display: inline-block;
      line-height: 100px;
      margin-left: 20px; }
      .banner-menu ul li a {
        text-decoration: none; }
      .banner-menu ul li a:hover {
        text-decoration: none;
        border-bottom: 2px solid #fff; }
  .banner-search {
    padding-top: 50px; }
    .banner-search p {
      color: #fff;
      font-family: 'Open Sans', sans-serif;
      font-weight: bold;
      font-size: 3rem; }
    .banner-search-form input[type=text] {
      position: relative;
      border: none;
      padding-left: 20px;
      font-family: 'Open Sans', sans-serif;
      font-size: 18px;
      height: 50px;
      border-radius: 50px;
      width: 100%; }
      .banner-search-form input[type=text]:focus {
        border: none;
        outline: none; }
    .banner-search-form button {
      position: absolute;
      right: 18px;
      height: 45px;
      border-radius: 50px;
      width: 45px;
      border: none;
      bottom: 2px;
      background-color: #4877F8; }
      .banner-search-form button .fa-search {
        color: #fff;
        font-size: 18px; }

@keyframes fade_in_show {
  0% {
    opacity: 0;
    transform: scale(0); }
  100% {
    opacity: 1;
    transform: scale(1); } }

.trend {
  margin-bottom: 30px; }
  .trend-title {
    margin-bottom: 20px;
    font-family: 'Montserrat', sans-serif; }
  .trend-top {
    height: 170px;
    border-radius: 20px;
    overflow: hidden;
    position: relative; }
    .trend-top img {
      width: 100%; }
    .trend-top-title {
      position: absolute;
      bottom: 0;
      text-align: center;
      width: 100%;
      background-image: linear-gradient(-180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.9) 100%);
      color: #fff; }

.room-new {
  background-color: #fff;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px; }
  .room-new-title {
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
    font-family: 'Montserrat', sans-serif; }
    .room-new-title a {
      height: 32px;
      padding: 4px 12px;
      border: 1px solid #4877F8;
      border-radius: 16px;
      text-decoration: none;
      color: #4877F8; }
      .room-new-title a:hover {
        text-decoration: none; }
    .room-new-title h3 {
      margin: 0px; }
  .room-new-content {
    padding-top: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid #CDCDCD; }
    .room-new-content:last-child {
      border-bottom: none; }
    .room-new-content a {
      display: flex;
      text-decoration: none; }
      .room-new-content a:hover {
        text-decoration: none; }
      .room-new-content a .thumb {
        width: 30%; }
        .room-new-content a .thumb img {
          width: 100%;
          height: 150px; }
      .room-new-content a .info {
        width: 70%;
        padding-left: 10px; }
        .room-new-content a .info h3 {
          margin: 0px;
          color: #000000;
          font-family: 'Open Sans',sans-serif;
          font-size: 20px;
          padding-bottom: 5px; }
        .room-new-content a .info-main {
          display: flex;
          justify-content: space-between;
          color: #666666;
          font-family: 'Open Sans',sans-serif; }
          .room-new-content a .info-main-text {
            line-height: 30px;
            font-size: 15px; }
            .room-new-content a .info-main-text span {
              padding-left: 8px; }
            .room-new-content a .info-main-text .fa-ruler {
              margin-left: 20px; }
          .room-new-content a .info-main-price {
            padding-top: 10px;
            text-align: center; }
            .room-new-content a .info-main-price p:first-child {
              color: red;
              font-weight: bold;
              font-size: 24px; }

.room-post {
  background: #fff;
  padding-top: 15px;
  padding-left: 15px;
  padding-right: 15px; }
  .room-post-title {
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
    font-family: 'Montserrat', sans-serif;
    padding-bottom: 20px; }
    .room-post-title a {
      height: 32px;
      padding: 4px 12px;
      border: 1px solid #4877F8;
      border-radius: 16px;
      text-decoration: none;
      color: #4877F8; }
      .room-post-title a:hover {
        text-decoration: none; }
    .room-post-title h3 {
      margin: 0px; }
  .room-post-content {
    padding-top: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid #CDCDCD; }
    .room-post-content:last-child {
      border-bottom: none; }
    .room-post-content-user {
      display: flex; }
      .room-post-content-user img {
        border-radius: 50px;
        border: 1px solid #eee; }
      .room-post-content-user h5 {
        padding-left: 30px;
        line-height: 18px;
        font-family: 'Open Sans', sans-serif;
        font-weight: bold;
        font-size: 18px; }
    .room-post-content-nd {
      font-family: 'Open Sans', sans-serif;
      font-size: 16px;
      padding-top: 10px;
      padding-right: 10px;
      padding-left: 10px; }

.room-detail-df {
  background-color: #fff;
  padding-top: 10px;
  padding-left: 10px; }
  .room-detail-df-map {
    padding-left: 20px;
    padding-right: 20px; }
    .room-detail-df-map img {
      width: 100%; }
  .room-detail-df-utility h4 {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 20px;
    border-radius: 8px;
    margin-top: 15px;
    background-color: #F6F7F9;
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 10px; }
    .room-detail-df-utility h4 i {
      padding-right: 10px; }
  .room-detail-df-utility .col-md-4 p {
    font-size: 16px;
    color: #333333;
    letter-spacing: 0;
    line-height: 24px;
    margin-left: 8px; }
    .room-detail-df-utility .col-md-4 p i {
      color: #666666;
      font-size: 24px;
      margin-right: 12px; }
  .room-detail-df-info h4 {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 20px;
    border-radius: 8px;
    margin-top: 15px;
    background-color: #F6F7F9;
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 10px; }
    .room-detail-df-info h4 i {
      padding-right: 10px; }
  .room-detail-df-info .col-md-3 {
    margin-bottom: 15px; }
    .room-detail-df-info .col-md-3 p:first-child {
      margin: 0;
      font-family: 'Montserrat', sans-serif;
      font-size: 12px;
      color: #666666;
      letter-spacing: 0;
      text-transform: uppercase; }
    .room-detail-df-info .col-md-3 p:last-child {
      margin: 0;
      font-size: 16px;
      color: #333333;
      letter-spacing: 0;
      line-height: 24px; }
  .room-detail-df-info .col-md-12 p:first-child {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    color: #666666;
    letter-spacing: 0;
    text-transform: uppercase; }
  .room-detail-df-info .col-md-12 p:last-child {
    margin: 0;
    font-size: 16px;
    color: #333333;
    letter-spacing: 0;
    line-height: 24px; }
  .room-detail-df-description h4 {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 20px;
    border-radius: 8px;
    margin-top: 15px;
    background-color: #F6F7F9;
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 10px; }
    .room-detail-df-description h4 i {
      padding-right: 10px; }

.room-detail-us {
  background-color: #fff; }
  .room-detail-us-user img {
    margin: 0px auto;
    border-radius: 50%;
    margin: 14px 12px; }
  .room-detail-us-user .col-md-8 {
    padding-right: 0px; }
    .room-detail-us-user .col-md-8 h5 {
      font-family: 'Montserrat', sans-serif;
      font-weight: bold; }
    .room-detail-us-user .col-md-8 p {
      font-family: 'Open Sans', sans-serif; }
  .room-detail-us-user .col-md-12 a {
    font-weight: bold !important;
    font-size: 14px;
    color: #fff;
    background-color: #003352;
    border-color: #003352;
    display: block;
    width: 100%;
    padding-left: 0;
    padding-right: 0;
    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; }

footer {
  background: #003352 url("../../image/footer-bg.png");
  background-size: cover;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  font-family: "Open Sans",sans-serif; }
  footer #register {
    position: relative; }
    footer #register h5 {
      text-align: left;
      font-size: 16px; }
    footer #register input[type=text] {
      height: 40px;
      width: 100%;
      border-radius: 50px;
      border: 1px solid #ddd;
      padding-left: 10px; }
    footer #register input[type=submit] {
      position: absolute;
      height: 40px;
      width: 80px;
      color: #fff;
      right: 0px;
      bottom: 0px;
      border-radius: 50px;
      border: none;
      background-color: #2BAE66FF; }

#wrapper {
  background-color: #F6F5F2;
  padding-bottom: 20px;
  padding-top: 20px; }
