@mixin ref($deco,$color) {
    text-decoration: $deco;
    color:$color;
}

.banner{
    background-image: url('../../image/banner.png');
    background-size: cover;
    padding: {
        bottom: 10%;
        top:3%;
    }
    &-menu{
        color:#fff;
        font: {
            family: 'Open Sans', sans-serif;
            weight : bold;
            size : 18px;
        }
        a{
            @include ref(none,#fff );
            &:hover{
                @include ref(none,#fff );
            }
        }
        ul{
            display: flex;
            justify-content: flex-end;
        }
        ul li{
            display: inline-block;
            line-height: 100px;
            margin: {
                left: 20px;
            }
            a{
                text-decoration: none;
            }
            a:hover{
                text-decoration: none;
                border: {
                    bottom: 2px solid #fff;
                }
            }
        }
    }
    &-search{
        padding: {
            top:50px;
        }
        p{
            color:#fff;
            font: {
                family: 'Open Sans', sans-serif;
                weight : bold;
                size : 3rem;
            }
        }
        &-form{
            input[type=text]{
                position: relative;
                border:none;
                padding: {
                    left: 20px;
                }
                font: {
                    family: 'Open Sans', sans-serif;
                    size:18px;
                }
                height: 50px;
                border-radius: 50px;
                width: 100%;
                &:focus{
                    border: none;
                    outline: none;
                }
            }
            button{
                position: absolute;
                right: 18px;
                height: 45px;
                border-radius: 50px;
                width: 45px;
                border: none;
                bottom: 2px;
                background-color: #4877F8;
                .fa-search{
                    color:#fff;
                    font-size: 18px;
                }
            }

        }
    }
}

@keyframes fade_in_show {
    0% {
         opacity: 0;
         transform: scale(0)
    }
    100% {
         opacity: 1;
         transform: scale(1)
    }
}