@import './menu/menu.scss';
@import './menu/breadcrumb.scss';
@import './header/header.scss';
@import './header/banner.scss';
@import './main/trend.scss';
@import './main/room.scss';
@import './footer/footer.scss';

#wrapper{
    background-color: #F6F5F2;
    padding-bottom: 20px;
    padding-top: 20px;
}